<h1>Stack Underflow</h1>

<% if logged_in? %>
<%= erb :'questions/_new' %>
  <a href="/questions/new">Create a new Question</a>
<%end %>

<h2>Questions</h2>
<div class="container">
  <ul>
    <% @questions.each do |question|%>
    <li> <a href="/questions/<%=question.id%>"> <%= question.title %> </a></li>
    <% end %>
  </ul>
</div>
