<h1>Stack Underflow</h1>

<% if logged_in? %>
<%= erb :'questions/_new' %>
  <a href="/questions/new">Create a new Question</a>
<%end %>

<h2>Questions</h2>
<div class="container">
  <ul class="questions-list">
    <% @questions.each do |question|%>

    <%= erb :'questions/_question', locals: {question: question} %>

    <% end %>
  </ul>
</div>
