
<form method="post" action="/questions/<%=question.id%>/comments" class="new-comment-form">
  <input type="text" placeholder="Comment" name="comment[body]">
  <input type="submit" value="Submit Comments">
</form>
