
<form method="post" action="/questions/<%=@question.id%>/answers" class="new-answer-form">
  <input type="text" placeholder="Answer" name="answer[body]">
  <input type="submit" value="Submit Answer">
</form>
