<h1>New Answer</h1>

<%= erb :_errors %>


<form method="post" action="/questions/<%=@question.id%>/answers">
  <input type="text" placeholder="Answer" name="answer[body]">
  <input type="submit" value="Submit Answer">
</form>
