<h1>Answer</h1>

<a href="/questions/<%=@answer.question.id%>"> Return to Question</a>

<%= erb :_errors %>

<%= erb :'answers/_answer', locals: {answer: @answer} %>

<%= erb :'votes/_vote', locals:{ item: @answer} %>
